<!-- Election List -->
    <div class="container mx-auto px-4 sm:px-8">
      <div class="py-8">
        <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
          <div class="inline-block min-w-full shadow-md rounded-lg overflow-hidden">
       <table class="min-w-full leading-normal">
                  <thead>
                    <tr>
                      <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                        &nbsp; S.no
                      </th>
                      <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                        &nbsp; &nbsp; Election Name
                      </th>

                      <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                        &nbsp; Status
                      </th>
                      <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (let i=0; i<elections.length; i++) { %>
                    <tr>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">

                        <div class="ml-3">
                          <p class="text-gray-900 whitespace-no-wrap">
                            <%= i + 1 %>
                          </p>
                        </div>
              </div>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">

                <a href="/election/<%= elections[i].id %>/question">
                <div class="ml-3">
                  <p class="text-gray-900 whitespace-no-wrap text-lg">
                      <%= elections[i].name %> &nbsp; <i class="fa fa-external-link-alt"></i>
                    </p>
                  </div>
                </a>
            </div>
            </td>

            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <span class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                <% let color = "" %>
                <% (elections[i].launched) ? color="bg-green-200" : color="bg-gray-200"  %>
                <span aria-hidden class="absolute inset-0 opacity-50 rounded-full <%= color %>"></span>
                <span class="relative">
                  <%= (elections[i].launched) ? "Live" : "Draft"  %>
                </span>
              </span>
            </td>
            <td class="px-5 py-2 border-b border-gray-200 bg-white text-sm ">
              <div class="flex gap-2 justify-end">
                <button onclick="deleteElection(<%= elections[i].id %>)" class="w-20 h-12 text-white bg-red-400 rounded-lg shadow transition-all duration-300 ease-in-out hover:bg-red-500">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </td>
            </tr>
            <% } %>
            </tbody>
     </table>
        <% if (elections.length === 0) { %>
            <h1 class="text-2xl flex justify-center text-gray-600 mt-3">Elections you create will appear here</h1>
        <% } %>
      </div>
    </div>
  </div>
  </div>