<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../layout/head.ejs") %>
    <%- include("script.ejs") %>
  </head>
  <body class="bg-body text-white">
    <%- include("header.ejs") %>
    <%- include("electionHeader.ejs") %>
    <div class="container flex justify-center content-center gap-2 w-full">
      <h1 class="text-xl font-bold ">Ballot</h1>
      <div class="w-1 h-1 mt-3 bg-blue-200 rounded-full"></div>
      <p class="text-xl"><%= questions.length %> Questions</p>
    </div>
<div class="rounded border w-5/6 mx-auto mt-4">
    <!-- Tabs -->
    <ul id="tabs" class="inline-flex pt-2 px-1 w-full border-b">
        
      <li class="bg-white px-4 text-gray-800 font-semibold py-2 rounded-t border-t border-r border-l -mb-px"><a id="default-tab" href="">Add Questions</a></li>
      <li class="px-4 text-white hover:text-gray-800 hover:bg-white font-semibold py-2 rounded-t"><a href="voter">Add Voters</a></li>
    </ul>
  
    <!-- Tab Contents -->
    <div id="tab-contents">
      <div id="first" class="p-4">
        <div class="flex items-center justify-center h-full">
            <div class="inline-block align-center rounded-lg text-left overflow-hidden  sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
            <% if(messages && messages.error && messages.error.length > 0)  { %>
                <% for(var i=0; i<messages.error.length; i++) { %>
                        <li class="text-red-600"> <%= messages.error[i] %></li>
                <% } %>
              <% } %>
            <form action="/election/<%= election.id %>/questions/add" method="post">
                <!-- Hidden input for csrf -->
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <div class="px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="py-2">
                        <label class="text-white w-full block">Question</label>
                        <input name="title" required autofocus placeholder="Enter your Question here" type="text" class="w-full h-12 p-3 text-gray-900 border border-solid border-gray-300 rounded-lg shadow" />
                    </div>
                    <div>
                        <label>Description</label>
                        <textarea name="description" placeholder="Enter your Description here" class="w-full p-3 text-gray-900 border border-solid border-gray-300 rounded-lg shadow" ></textarea>
                    </div>
                </div>
                <div class="px-4 py-2 text-center">
                    <button type="submit" class="py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-700 mr-2"><i class="fas fa-plus"></i> Add Question</button>
                </div>
            </form>
            
        </div>
        </div>
      </div>
      <div id="second" class="hidden p-4">
      </div>
      <div id="third" class="hidden p-4">
      </div>
    </div>
  
</div>
<div class="rounded border w-5/6 mx-auto mt-4">

  <!-- no of questions -->

      <div class="container mx-auto px-4 sm:px-8">
          <div class="py-8">
      <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
          <div
          class="inline-block min-w-full shadow-md rounded-lg overflow-hidden"
          >
          <table class="w-full bg-white">
              <thead>
                  <tr>
                      <th
                      class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
                      >
                      Question No.
                    </th>
                    <th
                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
                    >
                    Question
                </th>

                    <th
                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
                    >
                    Desciption
                </th>
            <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100"
                ></th>
            </tr>
        </thead>
        <tbody>
                <% for (let i=0; i<questions.length; i++) { %>
                    <tr class="py-auto">
                        <!-- id -->
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            
                            <div class="ml-3">
                                <p class="text-gray-900 whitespace-no-wrap">
                                    <%= i + 1 %>
                                </p>
                            </div>
                        </div>
                    </td>
                    <!-- Question -->
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-normal"><%= questions[i].title %></p>
                </td>
                    <!-- Description -->
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-normal"><%= questions[i].description %></p>
                </td>
                <!-- Actions -->
                
                <td
                class="px-5 py-5 border-b border-gray-200 bg-white text-sm ">
                <div class="flex gap-2 justify-end">
                    <!-- Edit -->
                    <a href="/election/<%= election.id %>/question/<%=questions[i].id%>/editQuestion">
                        <button
                        class="w-20 h-12 text-white bg-red-400 rounded-lg hover:bg-red-500">
                        <i class="fa fa-edit"></i>
                    </button>
                </a>
                <!-- Add options -->
                <a href="/election/<%= election.id %>/question/<%= questions[i].id %>">
                    <button class="w-40 h-12 text-white bg-red-400 rounded-lg hover:bg-red-500">
                        <i class="fa fa-plus">&nbsp;</i> Add Options
                    </button></a>
                    <!-- Delete -->
                    <button onclick="deleteQuestion('<%= questions[i].id %>')"
                        class="w-20 h-12 text-white bg-red-400 rounded-lg hover:bg-red-500">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </div>
            </td>
            </tr>
            
              <% } %>
            </tbody>
          </table>
          <% if (questions.length === 0) { %>
              <h1 class="text-2xl flex justify-center text-gray-600 font-semibold">Questions you add will appear here</h1>
          <% } %>
        </div>
    </div>
</div>
</div>
</div>
  </body>
  </html>