<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../layout/head.ejs") %>
    <%- include("script.ejs") %>
  </head>
  <body class="bg-body text-white">
    <%- include("header.ejs") %>
    <%- include("electionHeader.ejs") %>
    <div class="container flex justify-center content-center gap-2 w-full">
      <h1 class="text-xl font-bold ">Ballot</h1>
      <div class="w-1 h-1 mt-3 bg-blue-200 rounded-full"></div>
      <p class="text-xl">2 Question</p>
    </div>
    <%- include("addQuestion.ejs") %>
    <%- include("addOption.ejs") %>
    <%- include("addVoter.ejs") %>
   
      
  </body>
</div>
</div>
</html>