
<div class="container flex px-2 mx-auto pt-2 justify-between">
  <!-- Edit election name -->
  <button class="bg-red-400 boder-2 px-6 py-2 rounded-3xl hover:bg-red-500 text-white" onclick="toggleElectionModal()"><%= election.name %>&nbsp; <i class="fa fa-edit"></i></button>
  <div class="px-6 py-2">
    <a href="/election/<%= election.id %>/preview" class="bg-red-400 boder-2 px-6 py-2 rounded-3xl hover:bg-red-500 text-white"><i class="fa fa-eye"></i> Preview</a>
    <a href="/election/<%= election.id %>/launch" class="bg-red-400 boder-2 px-6 py-2 rounded-3xl hover:bg-red-500 text-white"><i class="fa fa-rocket"></i> Launch</a>
  </div>
</div>
<div class="fixed z-10 overflow-y-auto top-0 w-full left-0 hidden" id="electionModal">
    <div class="flex items-center justify-center min-height-100vh pt-4 px-4 pb-20 text-center sm:block sm:p-0">
          <div class="fixed inset-0 transition-opacity">
            <div class="absolute inset-0 bg-gray-900 opacity-75" />
    </div>
              <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>
              <div class="inline-block align-center bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                      <!-- Form starts here -->
                  <form action="/election/<%= election.id %>" method="post">
                  <!-- Hidden input for csrf -->
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                  <% if(messages && messages.error && messages.error.length > 0)  { %>
                      <% for(var i=0; i<messages.error.length; i++) { %>
                        <li class="text-red-600"> <%= messages.error[i] %></li>
                      <% } %>
                  <% } %>
                  <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <!-- Input for election title -->
                    <label class="text-sm text-gray-600 w-full block">Title</label>
                    <input type="text" name="title" required autofocus class="mt-2 border-2 border-gray-200 px-3 py-2 block w-full rounded-lg text-base text-gray-900 focus:outline-none focus:border-indigo-500" placeholder="Enter new election name here">
                  </div>
                  <div class="bg-gray-200 px-4 py-3 text-right">
                    <button type="button" class="py-2 px-4 bg-gray-500 text-white rounded hover:bg-gray-700 mr-2" onclick="toggleElectionModal()"><i class="fas fa-times"></i> Cancel</button>
                    <button type="submit" class="py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-700 mr-2"><i class="fas fa-save"></i> Save</button>
                  </div>
                  </form>
                    <!-- Form ends here -->
              </div>
          </div>
    </div>
</div>
