<html>
  <head>
   <%-include("../layout/head.ejs")%> 
  </style>
  </head>
  <body class="bg-body">
    <% if (admin == true) { %>
      <% if (!election.ended) { %>
        <div class="container flex px-2 mx-auto pt-2 justify-between mt-5 sticky top-0">
          <a href="/e/<%=election.customUrl%>">
            <button class="bg-red-400 boder-2 px-6 py-2 rounded-3xl hover:bg-red-500 text-white" onclick="toggleElectionModal()"> <%= election.name%> &nbsp; <i class="fa fa-home"></i></button>
          </a>
        </div>
        <!-- Election is live -->
        <div class="container mx-auto flex justify-center p-5">
          <div class="flex">
            <div class="animate-pulse rounded-full bg-red-600 h-10 w-10"></div>
            <p class="pl-5 text-4xl text-selected-text"> Election is <span class="text-red-500 font-bold animate-pulse">Live</span> </p>
          </div>
        </div>
        <% } else { %>
          <div class="container flex px-2 mx-auto pt-2 justify-between mt-5 sticky top-0">
            <!-- Edit election name -->
            <a href="/home">
              <button class="bg-red-400 boder-2 px-6 py-2 rounded-3xl hover:bg-red-500 text-white"> Home &nbsp; <i class="fa fa-home"></i></button>
            </a>
          </div>
     <% } %>
      <% } else { %>
        <span class="bg-red-400 boder-2 px-6 py-2  sticky top-5 left-5 rounded-3xl hover:bg-red-500 text-white">Online Voting Platform</span>
        <% } %>
        
   <div class="flex justify-center">
     <p class="pt-2 text-gray-300 text-xl"><%= votesCount %> / <%= totalVoters %> Voters voted</p>
   </div>

  <!-- Charts -->
        
    <%- include("resultChart.ejs") %>
        
  <!-- Voters List -->
    <% if (admin == true) { %>
      <%- include("votersList.ejs", {voters}) %>
    <% } %>
  </body>
</html>